<%- include('./utils/header.ejs') %>
<header>
  <nav>
    <div class="nav__section">
      <div class="container nav__container">
        <div>
          <img src="asets/logo.png" />
        </div>
        <ul class="nav__list">
          <li class="nav_list__item scroll">
            <a href="#about">ABOUT</a>
          </li>
          <li class="nav_list__item scroll">
            <a href="#services">SERVICES</a>
          </li>
          <li class="nav_list__item scroll">
            <a href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

</header>
<main>
  <div>
    <img src="asets/sec1.jpeg" class="section__sec1" />
    <section class="section__intro">
      <h3>Welcome To Our Studio!</h3>
      <h1>It's nice to meet you</h1>
      <a href="#about"><span>Tell us more</span></a>
    </section>
  </div>
  <div class="div__about" id="about">
    <div class="container" style="text-align: center;">
      <section class="div_about__header">
        <h2>About</h2>
        <p>A creative agency based on Candy Land, ready to boost your business with some beautifull templates. Lattes
          Agency is one of the best in town see more you will be amazed.</p>
      </section>
      <section class="div_about__boxes">
        <article class="div_about__box">
          <i class="fa fa-briefcase"></i>
          <h4>Web devlopment</h4>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </article>
        <article class="div_about__box">
          <i class="fa fa-image"></i>
          <h4>Visualisation</h4>
          <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
        </article>
        <article class="div_about__box">
          <i class="fa fa-camera-retro"></i>
          <h4>PHOTOGRAPHY</h4>
          <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </article>
        <article class="div_about__box">
          <i class="fa fa-cube"></i>
          <h4>UI/UX DESIGN</h4>
          <p>Itaque earum rerum hic tenetur a sapiente, ut aut reiciendis maiores</p>
        </article>
      </section>
    </div>
  </div>


</main>


<!-- <%- include('./utils/footer.ejs') %> -->